{% extends 'layout_for_about_us.html' %}

{% block title %}Про нас{% endblock %}

{% block header %}Наша Піцерія{% endblock %}

{% block content %}
    <p>Ми є інноваційною піцерією, яка пропонує найсмачніші та унікальні види піци. З використанням найкращих інгредієнтів та традиційних рецептів ми готуємо піцу, яка радує наших клієнтів.</p>

    <p>Наші кухарі - це професіонали з великим досвідом, які прагнуть надати вам найкращий смак піци, яку ви коли-небудь пробували. Ми віримо в якість та задоволення наших гостей.</p>

    <p>Замовте піцу в нашій піцерії та насолоджуйтеся атмосферою смаку та комфорту, яку ми пропонуємо!</p>

{% endblock %}
