{% extends 'layout_for_menu.html' %}

{% block content %}
    <h1>Меню</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Назва піци</th>
                <th>Опис інгредієнтів</th>
                <th>Ціна піци</th>
            </tr>
        </thead>
        <tbody>
            {% for item in menu_items %}
            <tr>
                <td>{{item['name']}}</td>
                <td>{{item['description']}}</td>
                <td>{{item['price']}} грн</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
