<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Замовлення</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='orders.css') }}">
</head>
<body>
    <h2>Список замовлень</h2>
    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    <th>Піца</th>
                    <th>Номер телефону</th>
                    <th>Адреса доставки</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order[1] }}</td>
                        <td>{{ order[2] }}</td>
                        <td>{{ order[5] }}</td>
                        <td>{{ order[3] }}</td>
                        <td>{{ order[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Немає замовлень.</p>
    {% endif %}
    <footer>
        <p>&copy; 2023 Наша Компанія. Усі права захищені.</p>
    </footer>
</body>
</html>
